<a href="https://colab.research.google.com/github/Ar8k/Assigment-2.2-CSS-Text-Styling/blob/main/Week2_Assignment_2.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Practice**

This assignment is to get started with a practice to Python for Data Science.

Choose any 6 questions out of the questions below. 6 questions will be graded and the rest can be utilized for some practice.

Create a string variable greeting containing "Hello, " and another variable name containing your name. Concatenate these variables to form a greeting message and print it

In [10]:
hi = "Hello, " #defining the "hello,"
name = "Ahmed" #defining the name
final = hi + name
print (final)

Hello, Ahmed

Write a Python program which accepts a sequence of comma-separated numbers
from the user and generate a list with those numbers. Arrange them in ascending order

In [ ]:
#Your answer must go here

Write a Python program to display the first and last letters from the given list of names: ["Adam","Alex","Emmanuel" ,"Robert", "Finn"].

In [5]:
names = ["Adam","Alex","Emmanuel" ,"Robert", "Finn"]
for name in names:
  first_letr = name[0]
  last_ltr = name[-1]
  print(f" {name}: First letter = {first_letr}, Last Letter = {last_ltr}")

 Adam: First letter = A, Last Letter = m
 Alex: First letter = A, Last Letter = x
 Emmanuel: First letter = E, Last Letter = l
 Robert: First letter = R, Last Letter = t
 Finn: First letter = F, Last Letter = n

Take a string as an input. Write a python program to create a new string using the first, middle, and last characters of the input string.

In [6]:
usr_input = input ("Enter A word: ") #taking the users input
first_character = usr_input[0] #getting the first char from the input
middle_character = usr_input[len(usr_input) // 2] #getting the middle char from the input
last_character = usr_input[-1] #getting the last char from the input
new_wrd = first_character + middle_character + last_character
print ("The new word", new_wrd)

Enter A word: Output
The new word Opt

Write a python program to take a string as an input and reverse it

In [7]:
user_input = input("Enter a string: ") #taking the users input
reversed_input = user_input[::-1] #reversing the input
print ("Reversed word: ", reversed_input)

Enter a string: Maximum
Reversed word:  mumixaM

**Collections**

Take an input of numbers in a list and create a new list containing only the even numbers from the original list.

In [ ]:
#Your answer must go here

Take a list of strings (words) and create a new list containing the lengths of each word in the original list.

In [8]:
words = ["United States of America" , "France" , "South Africa" , "United Kingdom"]
word_length = [len(word) for word in words]
print ("Length of words: " , word_length)

Length of words:  [24, 6, 12, 14]

Create a dictionary student_grades with keys as student names and values as their respective grades. Find the student with the highest grade and print the output

In [ ]:
#Your answer must go here

Define two sets, set1 and set2, containing some common elements. Remove the duplicate elements from set1 that are also present in set2.

In [9]:
#defining the sets
set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {5,6,7,8,9,10}
set1.difference_update(set2) #remove nums that are in both sets
print ("updated set: " , set1)

updated set:  {1, 2, 3, 4}

Create a dictionary word_count to count the occurrences of each word in a given sentence. Print the top 3 most common words along with their counts.

In [ ]:
#Your answer must go here