<a href="https://colab.research.google.com/github/Ar8k/Assigment-2.2-CSS-Text-Styling/blob/main/Week3_Assignment_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read the dataset using pandas. The dataset will be available in the same folder.
After reading the dataset, perform the following exploratory data analysis.

Dataset resource:
https://www.openintro.org/data/index.php

https://www.openintro.org/data/index.php?data=nycflights

You can choose to **answer 5 questions** for the assignment. **5 are graded**

***Use the rest to test your knowledge***

In [2]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload() #here i uploaded the nyc flights file from my downloads

1. How many flights were operated by American Airlines and how many by Delta AirlinesÂ ?

In [11]:
American_flights = df[df['carrier'] == 'AA'] #filtering by the carrier codes
Delta_flights = df[df['carrier'] == 'DL']
print ("Amount of American Airlines flights: ", len(American_flights))
print ("Amount of Delta Airlines flights: ", len(Delta_flights))

Amount of American Airlines flights:  3188
Amount of Delta Airlines flights:  4751

2. Identify the top destinations from each JFK airport.

In [12]:
jfk_flights = df[df['origin'] == 'JFK'] #looking for only flights out of JFK
top_dest = jfk_flights['dest'].value_counts().head(10) #looks at how often each (dest) appears

print ("The top destinations from JFK Airport are: ", top_dest)

The top destinations from JFK Airport are:  dest
LAX    1115
SFO     832
BOS     585
MCO     529
SJU     471
FLL     424
LAS     392
BUF     357
MIA     344
DCA     317
Name: count, dtype: int64

3. Count the number of flights departing from each origin airport to different destinations.

In [ ]:
#Code here

4. How missing values are there in the column dep_time?

In [19]:
missing_dep_times = df['dep_time'].isna().sum() #checking for nan values, then checking how many are true/missing
print (f"The missing values in dep_time are: ", missing_dep_times)

The missing values in dep_time are:  0

5. Identify the airline with the highest average departure delay.

In [16]:
average_dep = df.groupby('carrier')['dep_delay'].mean() #grouping the data by the carrier column
highest_dep_car = average_dep.idxmax()
highest_dep_value = average_dep.max() #getting the avg of the departure delay from each carrier
print (f"The airline with the highest departure time is: {highest_dep_car} ")
print (f"The average departure time is: {highest_dep_value} ")

The airline with the highest departure time is: HA
The average departure time is: 38.529411764705884

6. Count the number of flights departing from each origin airport to different destinations.

In [17]:
number_of_flights = df.groupby (['origin', 'dest']).size().reset_index(name='flight_number') #grouping the flights by thier origin and dest airport, and counting how many flights in each group,at the end converting it back to a dataframe with a comlumn
print (f"The amount of flights departing are: " , number_of_flights)

The amount of flights departing are:      origin dest  flight_number
0      EWR  ALB             37
1      EWR  ANC              1
2      EWR  ATL            512
3      EWR  AUS             94
4      EWR  AVL             25
..     ...  ...            ...
209    LGA  SYR             23
210    LGA  TPA            198
211    LGA  TVC              5
212    LGA  TYS             39
213    LGA  XNA             65

[214 rows x 3 columns]

7. Extract the hour, minutes from the 'DEP_TIME' column and add put it into new column with appropriate names

In [ ]:
#Code here

8. Plot a histogram to visualize the distribution of departure delays during different times of the day.

**Note: dep_delay, arr_delay values are in minutes. Negative times represent early departures/arrivals.**

In [ ]:
#Code here